<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mc.custom">

    <application
        android:name=".MilletCindeeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MilletCindeeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <!-- Confirm -->
        <activity android:name=".confirm.ConfirmActivity" ></activity>
        <activity android:name=".confirm.Confirm001Activity" ></activity>
        <activity android:name=".confirm.Confirm002Activity" ></activity>
        <activity android:name=".confirm.Confirm003Activity"></activity>


        <activity android:name=".design.DesignActivity"></activity>

    </application>

</manifest>